* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(40, 35, 33, 0.8);
    color: #d8b693;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #d8b693;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    color: #ff8c4b;
    border-bottom: 3px solid #ff8c4b;
}

#window {
    color: #d8b693;
}

#clock, #pulseaudio, #network, #tray {
    padding: 0 10px;
    margin: 0 5px;
    color: #d8b693;
}